*{
    margin: 0%;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-container{
    color: white;
}

.temperature{
    font-size: 5rem;
}

.time-location{
    font-size: 2rem;
}

.condition{
    font-size: 2rem;
}

nav{
    height: 100px;
    margin: 5rem;
}
.search-area{
    padding: 1rem 0;
    outline: none;
    border: none;
    font-size: 1rem;
    background-color: black;
    color: white;
    border-bottom: 1px solid white ;
}

nav form button{
    background-color: white;
    color: black;
    font-size: 1rem;
    padding: 1rem 2rem;
    margin: 2rem 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}